body {
    
    background-repeat: no-repeat, repeat;
    background :url("Wide\ Variety\ Of\ Cake\ Flavors.jpg"), url(ivory-off-white-paper-texture.jpg);
    background-blend-mode: overlay;
    background-position: 90% ,center; 
}

.div {
    word-spacing: 50px;
    margin : 20px;
    padding: 10px;
    font-size: 20px;
    font-family: lucida Sans;
    background-color:rgb(226, 211, 226);
    border-radius: 10px;
}

a:hover {
    background-color:skyblue ;
    width:800px;
    height:400px;
    border-radius:100px/50px;
}

h1 {
    text-align:center;
    color :black;
    font-size : 80px;
    font-family: cursive;
    text-shadow: 3px 3px rgb(155, 145, 241);
}

h2 {
    text-align:center;
    color :rgb(155, 52, 224);
    font-family: cursive;
    font-size: 40px;
}

h3 {
    text-align:center;
    color :rgb(24, 24, 29);
    font-family: cursive;
    font-size: 40px;
    padding : 5px;
    border-width : 5px;
    margin : 20px;
    background-color:rgb(226, 211, 226);
    border-radius: 10px;
}

h4{
    text-align: center;
    color:black;
    font-size: 30px;
    font-family: lucida sans;
   
}

.shadow-text {
    text-shadow: 5px 8px 9px rgb(228, 228, 205);
}

#box-model {
    padding : 10px;
    border-width : 5px;
    margin : 20px;
    background-color:rgb(226, 211, 226);
    border-radius: 10px;
}

img {
    margin-top: 100px;
    width:300px;
    height:250px;
    margin:30px;
    border-radius: 10px;
}  

img:hover{
    box-shadow: 0 0 4px 1px rgba(0, 140, 186, 0.5);
}

table{
    border-collapse:collapse;
    width:60%;
    background-color:rgb(226, 211, 226);
    margin:20px;
    border-radius: 15px;
}

tr:hover {
    background-color:aliceblue;
    
}

th {
    border-bottom:1px solid rgb(243, 236, 236);
    text-align: left;
    font-size: 20px;
    font-family: Lucida Sans;
    border:1px 1px 1px 1px solid rgb(243, 236, 236);
    padding:15px;
}

td {
    border-bottom:1px solid rgb(243, 236, 236);
    border:1px 1px 1px 1px solid rgb(243, 236, 236);
    padding:20px;
    text-align: left;
    font-size: 15px;
    font-family: Lucida Sans;
}

form#example button{
    width: 15%;
    border-radius: 20px;
    background-color: azure;
    font-size:20px;
    padding : 15px;
    float : center;
    cursor : pointer;
    margin:20px;
    
}

p {
    font-size:15px;
    font-family: lucida sans;
    text-align: center;
    border-style:dotted;
    padding:15px;
    border-radius:20px;
}

